#about {
  position: absolute;
  top: 70px;

}

#video {
  position: absolute;
  top: 350px;
  left: 33%;
  right: 50%;

}

.container {
  max-width: 100%;
}

.subhead {
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0.5em;
}

.benefits {
  margin-bottom: 3em;
}

.benefit {
  margin: 1em 0;
  text-align: center;
}

.benefit .benefit-ball {
  background: #f0f0f0;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}

.benefit .benefit-ball .glyphicon {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}

footer {
  position: relative;
  width: 100%;
  background: #111;
  color: #fff;
  padding: 1.5em 0 0.8em;
}

.featurette-divider {
  margin: 40px 0; 
}

.featurette {
  padding-top: 120px; 
  overflow: hidden; 
  padding-left: 50px;
  padding-right: 50px;
}

.featurette-image {
  margin-top: -100px;
}

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


